PORT=
NODE_ENV=production
APP_VERSION=1.0.0
AUTHENTIK_APP_SLUG=kounhany-wallet-admin

# Blnk
BLNK_URL=

# PostgreSQL
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Auth temporaire — à remplacer par JWT IDP
API_KEY=

# Dolibarr 
DOLIBARR_URL=
DOLIBARR_API_KEY=       
DOLIBARR_ENTITY=1     

# AUTHENTIK 
AUTHENTIK_URL=
AUTHENTIK_JWKS_URI=
SCIM_TOKEN=

# Authentik DB
AUTHENTIK_DB_HOST=
AUTHENTIK_DB_USER=
AUTHENTIK_DB_PASSWORD=
AUTHENTIK_DB_NAME=

# Authentik OAuth2
NEXT_PUBLIC_AUTHENTIK_URL=
NEXT_PUBLIC_AUTHENTIK_CLIENT_ID=
NEXT_PUBLIC_AUTHENTIK_REDIRECT_URI=